<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CloudShape</title>
    <link rel="stylesheet" href="./test-index.css">
</head>
<body>
    <header>   
        <a class="header-logo">雲判別（6分類）</a>
    </header>

    <div class="main">    
        <h2> 選択された画像の雲の形をざっくりと識別します</h2>
        <p>画像を選択して送信してください</p>
        <br>
        <p>【線状の雲＜巻雲：すじ雲＞】</p>
        <p>【粒々の雲＜巻積雲：うろこ雲、高積雲：ひつじ雲＞】</p>
        <p>【もくもくとした雲＜積乱雲：入道雲＞】</p>
        <p>【ふわっとした雲＜積雲：わた雲＞】</p>
        <p>【うろこ状の雲＜巻積雲：うろこ雲・いわし雲＞】</p>
        <p>【霧状の雲＜積雲：きり雲＞】</p>
        <br>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="! 判定 !" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
        <img src="{{ image_path }}">
        <!-- <img src="./uploads/images/マッギョ.png" alt="no pictures found"> -->
        
    </div>

    <footer>
        <small>2022 h.s</small>   
    </footer>
</body>
</html>